<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/securepass")
    @RenderSection("scripts", required: false)
    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    
</head>
    <body>
        <a href="https://github.com/MacsDickinson/uniquify.it"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
        <header>
            <h1>Uniquify<span>.it</span></h1>
        </header>
        @RenderBody()
        <footer>
		    <div id="footer-copyright" class="footer-column">
		        <h2><a href="https://www.macsdickinson.co.uk/" title="Macs Dickinson">&copy; @DateTime.Now.Year Macs Dickinson</a></h2>
			    <p>
				    The information on this page is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/" rel="license">Creative Commons Attribution 3.0 Unported License</a>. Feel free to share liberally but provide attribution.
			    </p>
		    </div>
        </footer>
    </body>
</html>
